.message-bubble {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.right {
  background-color: #0078fe;
  color: white;
  align-self: flex-end;
}

.left {
  background-color: #e5e5ea;
  color: black;
  align-self: flex-start;
}
